{% extends 'blog/base.html' %}

{% block content %}
    <h1 style="color:white">New post</h1>
    <div class="offset-3 col-md-12">
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-group">
        {% for field in form %}
            <br>
            <label>{{field.label_tag}}</label>
            <br>
            {{field}}
            <br>
        {% endfor %}
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>
{% endblock %}